<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict/>
	</array>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSExceptionDomains</key>
        <dict>
            <key>palusa.tplinkdns.com</key>
            <dict>
                <key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
                <true/>
                <key>NSIncludesSubdomains</key>
                                <true/>
                                <key>NSExceptionRequiresForwardSecrecy</key>
                                <false/>
            </dict>
            <key>palusa.tplinkdns.com:1234</key>
            <dict>
                <key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
                <true/>
                <key>NSIncludesSubdomains</key>
                                <true/>
                                <key>NSExceptionRequiresForwardSecrecy</key>
                                <false/>
            </dict>
        </dict>
    </dict>
	<key>NSServices</key>
	<array>
		<dict/>
	</array>
</dict>
</plist>
